---
title: Дышите вслед за шаром
layout: page
---
%p.advice-top
  Дышите вслед за шаром
  %a.question{:href => ""} Как это работает
%p.advice
  Если имитировать спокойое дыхание,
  %br>/
  то организм придет в норму. Это условно-рефлекторный механизм.
#circle
%table.box
  %tr
    %td Вдох
    %td 4 секунды
  %tr
    %td Задержка на вдохе
    %td 0
  %tr
    %td Выдох
    %td 4 секунды
  %tr
    %td Задержка на выдохе
    %td 0
