---
title: Test test
layout: page
---
%p.advice
  Сядьте на стул, отключите гаджеты
  %br/
  заведите таймер и ничего не делайте
  %br/
.box
  %ul
  %li
    %img.arrow.left{:src => "img/if_arrow-left_1540170.svg"}/
  %button#timer
    %a#link{:href => "#"} 15 минут
  %li
    %img.arrow{:src => "img/if_arrow-left_1540170.svg"}/