body {
  font-family: PT serif;
  font-weight: 500;
  background-color: #f1f0f2;
}

.container {
  text-align: center;
}

.top {
  padding-top: 2.5%;
  padding-bottom: 6%;
  font-size: 25px;
}

.advice-top {
  font-size: 20px;
}

.question {
  font-size: 14px;
  padding-left: 25%;
}

.advice{
  font-size: 14px;
  padding-bottom: 2.5%;
}

#circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-style: dashed;
  border-color: #b1afb3;
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-style: dashed;
  border-color: #b1afb3;
  position: relative;
  cursor: pointer;
  margin:40px auto;
  display:block;
  -webkit-animation: heartbeat 8s infinite;
}

@-webkit-keyframes heartbeat {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

table {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 5px;
  text-align: left;
  padding-left: 5%;
  padding-top: 2.5%;
}

td {
  padding: 10px;
  padding-left: 25px;
 }

.time {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.box {
  display:inline-block;
  padding-top: 5%;
  padding-bottom: 9%;
  font-size: 14px;
}


.box .left {
  height: 5%;
  width: 25%;
  transform: rotate(+180deg);
}

.box div{
  padding-top: 5%;
  padding-bottom: 9%;
  display:inline-block;
  font-size: 30px;
}

#timer {
  display: block;
  margin: 0 auto;
  color: black;
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 3px / 100%;
  text-align: center;
  width: 100px;
  height: 100px;
  background: #f1f0f2;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 50px;
}

.arrow {
  height: 5%;
  width: 25%;
  /*transform: rotate(+180deg);*/
}

ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  
}

li {
    list-style: none;
}