<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
    <p class="top">Как справится с тревогой и неопределенностью</p>

    <%= yield %>

    <script>
      var items = <%= Array(sub_pages('cards') - Array(current_page)).map(&:url).to_json %>;
      var randomCard = items[Math.floor(Math.random()*items.length)];

      $(function(){
        $("#next").click(function(){
          window.location.href = randomCard;
          return false;
        });
      });
    </script>

    <br/>
    <br/>
    <img class="again" src="https://cdn1.savepice.ru/uploads/2017/10/7/a169c37c5f2bb22c1a549784b09e9912-full.png">

    <p id="next"><a href="#">Посоветуйте что-нибудь еще</a></p>
    </div>
  </body>
</html>
